*.iml
.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xm
/.idea/assetWizardSettings.xml
/app/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

app/build
domain/build
data/build
common/build
app/src/main/java/com/moondroid/project01_meetingapp/presentation/common/Test.kt